/* App.css */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-content {
  text-align: center;
}

.landing-about {
  margin-bottom: 30px;
}

.landing-title {
  font-size: 36px;
  color: #333;
}

.landing-subtitle {
  font-size: 24px;
  color: #666;
  margin-bottom: 120px;
}

.landing-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.landing-card {
  width: 280px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  font-size: 16px;
  color: #555;
  padding: 15px;
  flex-grow: 1;
}


/* About.css */
.aboutContainer {
  padding: 20px;
  background-color: #f0f0f0;
}

.description {
  max-width: 800px;
  margin: 0 auto;
}

.aboutText {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

.aboutme {
  border-bottom: 10px;
  margin-bottom: 10px;
}


.cardContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.techCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.imageContainer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techImage {
  max-width: 100%; 
  max-height: 100%;
}


/* contact page css  */
.contact-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 150px;
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.connect-heading {
  margin-top: 25px;
  margin-bottom: 50px;
}

/* App.css */
/* Styles for social buttons */
.social-buttons {
  padding: 10px; /* Adjust padding as needed */
}

.social-button {
  margin-bottom: 25px; /* Adjust spacing between buttons */
  width: 100%; /* Ensure buttons take full width */
  white-space: normal; /* Allow text to wrap */
}

/* Styles for contact form */
.contact-container {
  padding: 24px; /* Adjust overall padding for the container */
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 24px;
}

.contact-form {
  padding: 24px;
  /* background-color: #f0f0f0; Example background color for the form */
  border-radius: 8px;
}

@media (max-width: 768px) {
  /* Responsive styles for mobile view */
  .social-buttons {
      padding: 16px;
  }

  .social-button {
      margin-bottom: 8px; /* Reduce spacing between buttons */
  }

  .contact-form {
      padding: 16px;
  }
}

.icon-spacing {
  margin: 15px;
}

.icon-image-spacing {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 120px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #40a9ff;
}


/* DIY  */

.project-card {
  margin-bottom: 20px;
}

.project-card .ant-card-cover {
  height: 310px;
  object-fit: cover;
}

.project-card .ant-card-meta-title {
  font-size: 18px;
  font-weight: bold;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  color: #1890ff;
}

.project-details {
  margin-top: 10px;
}

.project-card {
  height: 100%;
}

.project-image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.project-links a {
  color: #1890ff;
}

.diy-page > h1 {
  margin-left: 10px;
}

/* projects  */

.projectsContainer {
  padding: 20px;
}

.projectsSection {
  margin-top: 20px;
}

.techCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.imageContainer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techImage {
  max-width: 100%; 
  max-height: 100%;
}

