.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f0f0f0; /* Set background color as needed */
  padding: 20px;
  text-align: center;
}

/* Grid layout for cards */
.landing-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  gap: 20px; /* Gap between cards */
  margin-top: 20px; /* Add spacing between greeting and cards */
}

/* Style for individual cards */
.landing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff; /* Card background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for cards */
}

/* About.module.css */
.aboutContainer {
  padding: 20px;
  background-color: #f0f0f0;
}

.description {
  max-width: 800px;
  margin: 0 auto;
}

.aboutme {
  text-align: left;
}

.techCard {
  margin-top: 20px;
}

.cardContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.techImage {
  width: 150px;
  height: 150px;
}
