/* App.css */
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-content {
  text-align: center;
}

.landing-about {
  margin-bottom: 30px;
}

.landing-title {
  font-size: 36px;
  color: #333;
}

.landing-subtitle {
  font-size: 24px;
  color: #666;
  margin-bottom: 120px;
}

.landing-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.landing-card {
  width: 280px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  font-size: 16px;
  color: #555;
  padding: 15px;
  flex-grow: 1;
}


/* About.css */
.aboutContainer {
  padding: 20px;
  background-color: #f0f0f0;
}

.description {
  max-width: 800px;
  margin: 0 auto;
}

.aboutText {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

.aboutme {
  border-bottom: 10px;
  margin-bottom: 10px;
}


.cardContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.techCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.imageContainer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techImage {
  max-width: 100%; 
  max-height: 100%;
}

